<h1>showing articles details</h1>

<!-- embedded ruby code if don't put = it evaluate that code 
                                     it doesn't say anything about displaying
                                    = this means evaluate and render to the screen -->
                                    
<p><%=@article.title%></p>         
<p><%=@article.description%></p>